[Unit]
Description=Unoconv listener for document conversions
Documentation=https://github.com/dagwieers/unoconv
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
Environment="UNO_PATH=/usr/lib/libreoffice/program/"
ExecStart= /usr/local/bin/notify "/usr/bin/unoconv --listener"

[Install]
WantedBy=multi-user.target

